body, html {

	color: black;
    height: 100%;
    width: 100%;
}

body{
    
    background:url(Fotos/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#container{
    
    height: auto;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
      
}
   
.enlace{
    width: 50%;
}


#logo{
 height:20%;
 width:20%;
    background-color: brown;
}



#bajo{
display: flex;    
 height: auto;
 width: auto;
 background-color: rgba(239, 127, 26, 0.9);
 color: white;
 justify-content: space-between;
}

#xd{
display: flex;    
 height: auto;
 width: auto;
 color: black;

}

#bajo div{
    width: 30%;

}

#redes{
 flex-direction: column;   
}

#redes img{
 width: 20%;   
}



#ps{
 width: 100%;
 
}

.producto{
 display: flex;   
}

#capaProductos{
    display: flex;   
   
}


#ps{
 width: 100%;
 justify-content: flex-end;
}

#enlace{
 width:8%;
    background-color: aquamarine;
 
}
