body, html {
font-family: 'Sniglet', cursive;
	color: white;
    height: 100%;
    width: 100%;
}
body{
    background-image: url(Fotos/azul.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#container{
    
    height: auto;
    width: auto;
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;      
}
h2{   
font-size: 15px;
}
h1{
display: flex;
    justify-content: center;
}
hr { 
  border: 3px solid rosybrown;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;     
}
p{
position: relative;
left: 50%;    
align-content: center;
font-size: 30px;
display: flex;
    justify-content: center;
}
#container1{    
    height: 50%;
    width: 50%;
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;      
}
.capa{
display: flex;
    justify-content: center;
} 

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gainsboro;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: mistyrose;
}

#main {
  position: fixed; 
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#bajo{ 
position: absolute;    
display: flex;    
 height: auto;
 width: auto;
 color: white;
justify-content: center;
align-items: center;
    flex-wrap: wrap;
}

#bajo div{
    width: 15%;

}

#redes{
 flex-direction: column;   
}

#redes img{
 width: 5%;   
}

.yo{
position: relative;
left: 44%;    
margin: 1%;
}

