body, html{
    height: 100%;
    width: 100%;
}

body{
    color: white;
font-family: 'Sniglet', cursive;
    background-image: url(Fotos/azul.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
font-family: cursive;
    font-size: 40px;
}

#container{
    
    height: auto;
    width: auto;
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
      
}
.capa{
padding-bottom: 20px;    
display: flex;
    justify-content: center;
}
hr { 
  border: 3px solid rosybrown;
  border-radius: 5px;
  margin-left: 33%;
  margin-right: 33%;    
}
h3{
font-size: 15px;
}

textarea, button{
 border-radius: 5px;
}
button{
background-color: white;
font-size: 20px;    
font-family: cursive;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: mistyrose;
}

#main {
  position: fixed; 
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#bajo{ 
display: flex;    
 height: auto;
 width: auto;
 color: white;
     justify-content: center;
}
#bajo div{
    width: 15%;

}

#redes{
 flex-direction: column;   
}

#redes img{
 width: 5%;   
}

.secciones{
    display: flex;
    justify-content: center;
}

